parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method KonradMichalik\\\\Typo3LetterAvatar\\\\Image\\\\LetterAvatarInterface\\:\\:configToHash\\(\\)\\.$#"
			count: 1
			path: Classes/AvatarProvider/LetterAvatarProvider.php

		-
			message: "#^Instanceof between bool\\|int\\|string and KonradMichalik\\\\Typo3LetterAvatar\\\\Enum\\\\ColorMode will always evaluate to false\\.$#"
			count: 1
			path: Classes/AvatarProvider/LetterAvatarProvider.php

		-
			message: "#^Method KonradMichalik\\\\Typo3LetterAvatar\\\\AvatarProvider\\\\LetterAvatarProvider\\:\\:getRandomElement\\(\\) is unused\\.$#"
			count: 1
			path: Classes/AvatarProvider/LetterAvatarProvider.php

		-
			message: "#^Method KonradMichalik\\\\Typo3LetterAvatar\\\\Image\\\\LetterAvatarInterface\\:\\:saveAs\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: Classes/AvatarProvider/LetterAvatarProvider.php

		-
			message: "#^Access to an undefined property KonradMichalik\\\\Typo3LetterAvatar\\\\Image\\\\ImagickAvatar\\:\\:\\$nameInitials\\.$#"
			count: 1
			path: Classes/Image/ImagickAvatar.php

		-
			message: "#^Call to function is_array\\(\\) with bool\\|int\\|string will always evaluate to false\\.$#"
			count: 1
			path: Classes/Utility/ColorUtility.php
